* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {}

body {
    background-color: black;
    height: 200vh;
}

.all {
    background-image: url(/images/background1.jpg);
    background-size: cover;
    box-shadow: 0px 5px 40px -5px #0033ffbf;
    border-bottom: 3px solid #ff0055;
    width: 100%;
    margin-bottom: 60px;
}

.all2 {
    background-color: rgba(0, 0, 0, 0.70);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 84vw;
    margin-left: 8%;
    margin-right: 8%;
}

.navlogo {
    width: 148px;
    height: 40px;
    background-image: url(/images/logo.svg);
    background-size: cover;
}

@media(max-width : 960px) {
    .navlogo {
        width: 88px;
        height: 24px;
    }
}

.navlang {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 30px;
    border: 0.1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.75);
}

@media(max-width:600px) {
    .navlang {}
}

#eng {
    border: 0px;
    background-color: transparent;
}

.navsignin {
    border: 0px;
    border-radius: 5px;
    background-color: rgb(239, 3, 3);
    font-weight: bold;
    width: 75px;
    height: 30px;
}

.secondnav {
    width: 202px;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 592px;
}

.titlename {
    font-size: 3rem;
    font-weight: bolder;

}

.titleprice {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 1.2rem;
}

.titledisc {

    padding-bottom: 10px;
}

.titleinput {
    display: flex;
}

#mainemail {
    border: 0px;
    width: 100%;
    padding-left: 16px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.75);
}

.mainemail {
    display: flex;
    width: 365px;
    height: 55px;
    border: 0.1px solid white;
    border-radius: 6px;
}

#getstarted {
    border: 0px;
    width: 200px;
    height: 55px;
    background-color: rgb(239, 3, 3);
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 10px;
    border-radius: 6px;
}

.movies {
    display: flex;
    gap: 50px;
    height: 320px;
    width: 75%;
    padding-left: 8px;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.movies::-webkit-scrollbar {
    display: none;
}

.moviecenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie {
    height: 250px;
    min-width: 180px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.n1 {
    font-weight: bolder;
    font-size: 6rem;
    color: black;
    position: absolute;
    bottom: 0px;
    left: -15px;
    -webkit-text-stroke: 2px white;
}

.trending {
    margin-left: 9%;
    padding-bottom: 2%;
}

.left {
    height: 120px;
    margin-right: 10px;
    margin-bottom: 4%;
    width: 25px;
    border-radius: 15px;
    font-size: 1.9rem;
    background-color: #ffffff1a;
    border: 0px;
}

.right {
    height: 120px;
    margin-left: 10px;
    margin-bottom: 4%;
    width: 25px;
    border-radius: 15px;
    font-size: 1.9rem;
    background-color: #ffffff1a;
    border: 0px;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 76%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 7px;
    background-color: #3c3235;
    font-size: 1.5rem;
}
.footinput {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainemaile {
    display: flex;
    width: 35%;
    height: 55px;
    border: 0.1px solid white;
    border-radius: 6px;
}
.footready{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 70px;
}
footer{
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
}
.contact{
    display: flex;
    color: #ffffffb3;
}
.footerclass{
    height: 180px;
    display: grid;
    padding-top: 40px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 35px 35px 35px 35px;
    grid-column-gap: 10%;
}
#f{
    color: #ffffffb3;
}
.end{
    margin-top: 3%;
    padding-bottom: 100px;
}
#fe{
    color: #ffffffb3;
}
.endtitle{
    padding-top: 50px;
    font-size: 0.80rem;
    color: #ffffff80;
}
.lern{
font-size: 0.80rem;
}
.allcards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
   width: 83%;
   height: 300px;
   display: flex;
   align-items: center;
    justify-content: space-evenly;
}
.card{
    width: 17rem;
    height: 15rem;
    border-radius: 10px;
    background: linear-gradient(-45deg,#f505051b,#2a1e47);
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
}
#matt{
    color: #ffffffb3;
    margin-top: 30px;
}